/* CSS file */

/* Jose Saldana JOSJB29311 Class # 11901 */

/* container to center page */
.container {                         /* The container element will create a set area for all the content within the div is contained with in that area. */
	width: 80%;
	background-color: #FFFFFF;
	min-width: 700px;
	box-shadow: 5px 5px 15px 5px #979797;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#1e1e1e')";
	margin-right: auto;
	margin-left: auto;
}
/* adjusts all elements in the body to coordinate*/
body {							/* The body element will allow changes to be made to all content on the page. */
	background-image: url(pacific4/background.jpg);
	color: #666666;
	font-family: Arial;
}


/* changes the h1 header to specifications */

h1 {							/* The header1 element will allow customization to the area */
	padding-left: 20px;
	margin-bottom: 0;
	margin-top: 0;
	height: 72px;
	background-image: url(pacific4/sunset.jpg);
	background-position: right;
	background-repeat: no-repeat;
	background-color: #000033;
	color: #FFFFFF;
	line-height: 200%;
	font-family: Georgia;
	
}

#content { 						
	padding-left: 20px;
	padding-right: 20px;
}
/* navigation id for background color */

#nav {
	background-color: #90C7E3;
	font-weight: bold;
	font-family: Georgia;
	padding: 5px;
}

.address { 						/* the UL tag displays a list  */
	list-style-type: none;
	
}

/* changes the h2 header to specifications */

h2 {					/* the second most important heading */
	color: #90C7E3;
}

/* resort class to adjust the site name in the paragraph */
.resort {
	color: #000033;
	font-size: 1.2em;
	
}

/* adjusts footer to the center of the page and smaller text/with italics */

#footer {
	padding: 10px;
	font-size: small;
	font-size: .70em;
	font-style: italic;
	text-align: center;
}

img {
	border: 0;
}

